body {
    background-color: rgb(1, 2, 42);

    color: #070606;
  }

  .jumbotron {
    background-image: url("../images/bacteria2.jpeg");
    background-size: 100%;
    text-align: center;
    color: rgb(242, 234, 234);
  
  }
a {
    color: darkgray;
    
}
